<div class="row g-3">
    <div class="col-md-4">{{ form_row(form.expenses.housing) }}</div>
    <div class="col-md-4">{{ form_row(form.expenses.transportation) }}</div>
    <div class="col-md-4">{{ form_row(form.expenses.food) }}</div>
    <div class="col-md-4">{{ form_row(form.expenses.utilities) }}</div>
    <div class="col-md-4">{{ form_row(form.expenses.insurance) }}</div>
    <div class="col-md-4">{{ form_row(form.expenses.healthcare) }}</div>
    <div class="col-md-4">{{ form_row(form.expenses.entertainment) }}</div>
    <div class="col-md-4">{{ form_row(form.expenses.personal) }}</div>
    <div class="col-md-4">{{ form_row(form.expenses.other) }}</div>
</div>
